*{
     box-sizing: border-box;
}

body,
html {
     height: 100%;
     margin: 0;
     padding: 0; 
     font-family: Trebuchet MS, Helvetica, sans-serif;
     line-height: 1.6;
     display: flex;
     flex-direction: column;
     justify-content: space-between; 
     background-image: url("https://images.pexels.com/photos/3527795/pexels-photo-3527795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
     background-repeat: repeat;
     background-size: cover;
}

header,
footer {
     background-color:#5d5cbd;
     padding: 1rem;
     text-align: center;
}

.navbar,
footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar { 
     flex-direction: row;
}

footer {
     flex-direction: row-reverse;
}

.nav-link-container {
     display: flex;
     align-items: center;
}

.nav-links {
     display: flex;
     gap: 1rem; 
}

.nav-links,
.footer-links {
     list-style: none;
     margin: 0px;
     padding: 0px;
}

.nav-links a, 
.footer-links a {
     text-decoration: none; 
     color: #e79ddd;
}

 main {
     display: flex;
     gap: 3rem;
     margin: 2rem;
     margin-top: 2rem;
}

.about-header {
     padding: 2rem;
     margin: 1rem;
     background-color: #d181c6;
     text-align: center; 
     border-radius: 8px;
     margin-bottom: 3rem;
     text-align: left;
}

.projekt-container {
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
}

.projekt {
     margin-bottom: 1rem;
     padding: 1rem;
     text-align: center;
     border-radius: 8px;
     background-color: rgb(94, 155, 132);
     flex: 1 1 200px;
}

.projekt img {
     max-width: 100%;
     height: auto;
     border-radius: 8px;
}

.contact-header {
     margin-bottom: 0;
 }

/* MOBILE STYLES */
@media (max-width: 770px) {
     .navbar {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
     }

     .nav-link-container {
          display: flex;
          align-items: center;
     }

     .nav-links {
          display: flex;
          gap: 1rem;
     }

     main {
          display: flex;
          gap: 2rem;
          margin: 2rem; 
     }
     
     .about-header {
          text-align: left;
     }

     .projekt-container {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem; 
     }

     .projekt {
          flex: 1 1 200px;
     }

     footer {
          display: flex;
          flex-direction: column;
     }

     .contact-container {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}